* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(whitesmoke,whitesmoke) url(../assets/images/im1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:grid;
    place-items: center;
}

a {
    text-decoration: none;
}

.actions {
    width: 920px;
    height: 400px;
    overflow: hidden;
    border-radius: 25px;
}


.action-item {
    height: 47%;
    margin-bottom: 1rem;
    background-color:  pink;
    cursor: pointer;
    transition: background-color 500ms ease;
}

.action-item:hover,.action-item:active {
    background-color: rgb(252, 134, 153);
}

.action-item .col-7,.action-item .col-5 {
    display: grid;
    place-items: center;
}

.action-title {
    font-weight: 800;
    font-size: 20px;
    color: black;
}

.action-img {
    border-radius: 25px;
    width: 70%;
    height: auto;
}

.btn-pink {
background-color: rgb(252, 134, 153);
}

.result {
    border-radius: 25px;
}